<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <title>Chatty</title>
  </head>
  <body>
    <input type="hidden" id="msgs-room" value="<%= @room %>">
    <div id="msgs-scroll"><pre id="msgs"></pre></div>
    <form id="send" method="POST" action="/<%= @room %>/send">
      <input type="text" name="user" value="<%= @ip %>">
      <input type="text" name="msg">
      <input type="submit" value="Send">
    </form>
    <script src="/static/js/jam/require.js" data-main="/static/js/app.js"></script>
  </body>
</html>
