<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chatty</title>
  </head>
  <body>
    <form id="send" method="POST" action="/send">
      <input type="text" name="msg">
      <input type="submit" value="Send">
    </form>
    <pre id="msgs"></pre>
    <script src="/static/js/jam/require.js" data-main="/static/js/app.js"></script>
  </body>
</html>
